.h5p-personality-quiz-set-header {
  --asset-height: 3rem;

  &.export {
    width: 50rem;
  }

  &.offscreen {
    position: absolute;
    top: 0;
    left: -5000rem;
  }

  background-color: rgb(27, 37, 43);
  display: none;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  height: fit-content;
  padding: 1rem;

  .h5p-personality-quiz-set-header-logo-awplus {
    background-image: url("@assets/logo-awplus.png");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--asset-height);
    width: calc(3.9 * var(--asset-height));
  }

  .h5p-personality-quiz-set-header-logo-igm {
    background-image: url("@assets/logo-igm.png");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--asset-height);
    width: var(--asset-height);
  }
}
