@import '@styles/main';

.h5p-personality-quiz-set-page {
  color: #4c4452;
  margin: 1.5rem 0;

  &.display-none {
    display: none;
  }

  .h5p-personality-quiz-set-page-intro {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .h5p-personality-quiz-set-page-outro {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
